<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 800px; margin: 100px auto;">

<form id="myform" method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <table style="border: thin solid">
        <tr >
            <td style="width: 200px;height: 200px" >
                <img id="myimg" src="" >
            </td>
            <td>
                <input type="file" name="files" multiple="multiple" >
            </td>
        </tr>
        <tr >
            <td colspan="2" style="width: 200px;height: 50px; text-align:center ; border: thin solid">
                <input type="submit"  value="提交" />
                <p th:text="${msg}"></p>
            </td>
        </tr>
    </table>
</form>
</div>




</body>
</html>